.main-box {
    max-width: 1200px;
    /* background: #fff; */
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

.home-page{
    width: 100%;
    min-height: 100vh;
    background: #EAF7F2; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}


/* HEADER */
header .logo {
    font-size: 24px;
    font-weight: 700;
}

header nav a {
    text-decoration: none;
    font-size: 14px;
    color: black;
    letter-spacing: 2px;
}

.buy-btn {
    padding: 8px 20px;
    background: black;
    color: white;
    border-radius: 25px;
    font-size: 14px;
}

/* LEFT BG */
.left-bg {
    background: #FAF3EA;
    height: 100%;
    /* min-height: 500px; */
}

/* .bottle {
    animation: float 3s ease-in-out infinite;
}  */

/* RIGHT TEXT */
.text-box{
  position: absolute;
  top:60px;
}



.text-box h3 {
    font-size: 16px;
    letter-spacing: 3px;
    color: #555;
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 0.3s;
}

.text-box h1 {
    font-size: 55px;
    margin: 10px 0;
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 0.6s;
}

.text-box h1 span {
    color: #d99200;
}

.learn-btn {
    padding: 12px 28px;
    background: black;
    color: white;
    border-radius: 25px;
    display: inline-block;
    margin-top: 10px;
}

/* FRUITS */

.fruits img:hover {
    transform: scale(1.2);
} 


.title-line {
    white-space: nowrap;
    /* prevents line break */
}

.title-line span.fruit-name {
    display: inline-block;
    /* keep same line */
    margin-left: 8px;
    /* spacing */
}

/* MOBILE VIEW */
@media(max-width: 768px) {
    body {
        padding: 10px;
    }

    /* .bottle {
        width: 160px;
    } */

    .text-box {
        text-align: center;
        padding-top: 20px;
    }

    .text-box h1 {
        font-size: 36px;
    }
}

/* FLOAT ANIMATION */
/* @keyframes float {
    0%,100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
} */

/* FADE IN */
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {

    .text-box{
        position: absolute;
        top: 20px;   /* 60px romba keela irundha reduce pannalaam */
        left: 0;
        right: 0;
        text-align: center;
    }

    .fruits {
        position: absolute;
        bottom:40px;   /* space below image */
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
    }

    .main-box {
        padding-bottom: 60px; /* fruits keela space */
    }

}




